@media(max-width:1199px){}

@media(max-width:991px){
    .work-content span.number-1::after,
    .work-content span.number-2::after,
    .work-content span.number-3::after {
        content: "";
        position: absolute;
        display: none;
    }
}
@media(min-width:768px) and (max-width:991px){
    
.banner_content  h1{
    font-size: 28px;
    line-height: 38px;
}
.banner_content .banner_btn{
margin: 10px;
padding: 12px 20px;
}
.banner_content .banner_btn:last-child{
    padding: 12px 30px;
}
}

@media(max-width:767px) {

.banner_content  h1{
    font-size: 25px;
    line-height: 30px;
}
.banner_content .banner_btn{
margin: 10px;
padding: 10px 15px;
}
.banner_content .banner_btn:last-child{
    padding: 9px 30px;
}
#service_part {
	padding: 10px 0px;
}
.payment_left h2{
    font-size: 25px;
}
.payment_left a{
    padding: 8px 20px;
}
.sec_title{
    padding: 15px 0px;
}
.sec_title h2{
    font-size: 25px;
}

.feature_item {
    padding: 10px 0px;
  }
  .feature_content p{
      font-size: 13px;
  }
  .feature_content h4{
      font-size: 16px;
  }
  .service_content{
    margin-top: 20px;
}
  #visa_card .visa_left h2{
      font-size: 20px;
  }
  #our_walllet .wallet_left h2{
    font-size: 20px;
    margin-top: 20px;
}
  #visa_card .visa_left a,
  #our_walllet .wallet_left a {
      font-size: 15px;
      padding: 8px 20px;
  }

  #payment_system {
    padding: 25px 0px;
  }
  .payment_left{
      padding: 0px 15px;
  }
  .payment_right,
  .wallet_right {
    text-align: center;
  }
  #payment_system .payment_left h2{
      font-size: 20px;
  }
  #payment_system .payment_left p{
      font-size: 14px;
      margin: 0px 0px;
      padding: 18px 0px;
  } 
  #payment_system .payment_left a{
      padding: 8px 20px;
      font-size: 15px;
  }
  
  .work-content span {
	position: relative;
	width: 45px;
	height: 45px;
	background: #ffb507;
	line-height: 45px;
	font-size:18px;
}
.sec_title h2{
    font-size: 28px;
}
.app_link{
    margin-top: 25px;
}
.app_link a{
    max-width: 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

.mobile_right h2 {
  font-size: 25px;
  padding: 10px 0px;}

  .mobile_right{
      margin-top: 20px;
  }

}
@media(max-width:575px){
    #footer_part{
        text-align: center;
    }
}

@media(max-width:400px){
    .app_link a:last-child{
        margin-left: 0px;
    }
}